<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Saruê - Fiocruz Brasília</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

  <header class="top-header">
    <div class="header-left">
      <img src="{{ url_for('static', filename='imgs/saruevislogo.png') }}" alt="Saruê" class="logo">
    </div>
    <div class="header-right">
      <img src="{{ url_for('static', filename='imgs/fiocruz.png') }}" alt="Fiocruz Brasília" class="logo">
    </div>
  </header>

  <div class="container">
    <div class="left-panel">

    <h2>Unidades Básicas de Saúde</h2><br>
        <select id="ubs-select">
          <option selected disabled>Selecione uma UBS:</option><br>
        </select>

      <div style="margin-top: 15px;">
        <strong>Tipo de informação na Tooltip:</strong><br>
        <label><input type="radio" name="info-type" value="noticias"> Notícias</label><br>
        <label><input type="radio" name="info-type" value="oficiais"> Publicações Oficiais</label>
      </div>

      <div id="oficiais-form" style="margin-top: 15px; display: none;">
        <div id="oficiais-checkboxes" style="margin-top: 10px;">
          <label><input type="checkbox" name="subtipo" value="licitacoes"> Licitações</label><br>
          <label><input type="checkbox" name="subtipo" value="contratos"> Contratos</label><br>
          <label><input type="checkbox" name="subtipo" value="pessoal"> Pessoal</label><br>
        </div>

        <button id="load-info-btn" style="margin-top: 10px;">Enviar</button>
      </div>

    </div>
    <div class="right-panel">
      <div class="top-right">
        <div id="map"></div>
      </div>
      <div class="bottom-right">
        <h2>Assistente Virtual</h2>
        <div id="webchat" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>

  <footer class="bottom-bar">
    <p>© 2025 - Saruê - Fiocruz Brasília</p>
    <p>Grupo de Inteligência Computacional na Saúde (GICS)</p>
  </footer>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script src="{{ url_for('static', filename='sarue.js') }}"></script>
</body>
</html>
